<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First App</title>
  </head>
  <body>
    <h1>In Template Index.html</h1>
    <h2>{{ message }}</h2>
    <h2>This page is visited {{ count }} times.</h2>
    <p>Click <a href="help">here</a> for help.</p>
    <p>Click <a href="student">here</a> to go student forms.</p>
    <h3>Programs offered</h3>
    <table border="1">
      {% for r in program_rows %}
      <tr>
        <td>{{ r.title }}</td>
        <td>{{ r.branch }}</td>
      </tr>
      {% endfor %}
    </table>
    <h3>Students enrolled</h3>
    <table border="1">
      {% for r in student_rows %}
      <tr>
        <td>{{ r.name }}</td>
        <td>{{ r.roll_number }}</td>
        <td>{{ r.year }}</td>
        <td>{{ r.dob }}</td>
        <td>{{ r.program }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
